*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(171, 201, 171);
    display: flex;
    align-items: center;
    justify-content: center;
}


#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
#paneltop{
    width: 100%;
    height: 80px;
    background-color: rgb(56, 120, 72);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
}
#paneltop .elem{
    display: flex;
    align-items: center;
    gap: 15px;
   
}

#paneltop .elem .elembox{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(9, 105, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
}

#panelbottom{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    /* padding-left: 35px; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}


#panelbottom #result{
    color: rgb(56, 120, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bubble{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(9, 105, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bubble:hover{
    background-color: rgb(6, 71, 25);
    cursor: pointer;
}


@media (max-width:600px) {
    #paneltop .elem{
        scale: .8;
    }
    #paneltop{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding: auto 100px;
    }

}
